.tools,
nz-list,
nz-spin {
  position: absolute;
  margin-left: -24px;
  width: calc(100% - 180px);
}

.tools {
  margin-top: -24px;
  // height: 40px;
  padding: 8px;
  border-bottom: 1px solid #e2e2e2;

  nz-input-group {
    width: auto;
    margin-right: 20px;
  }

  nz-select.sort-key {
    width: 150px;
  }

  nz-select.sort-order {
    width: 75px;
  }

  i {
    margin-top: 5px;
    margin-right: 17px;
  }

  i:hover {
    animation-name: clean;
    animation-duration: 0.6s;
  }
}

nz-spin {
  margin-top: 16px;
  height: calc(100% - 80px);
  background: rgb(255 255 255 / 60%);
  z-index: 1;
}

nz-empty {
  margin-left: 0;
  height: calc(100% - 80px);
  width: 100%;
  padding-top: 150px;
}

i {
  background: #ef4e18;
  float: right;
  color: white;
  font-size: 16px;
  padding: 4px;
  border-radius: 12px;
  cursor: pointer;
}

@keyframes clean {
  25% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(-45deg);
  }
}

nz-list {
  margin-top: 25px;
  overflow-y: auto;
  height: calc(100% - 90px);
}

:host ::ng-deep {
  .ant-list-item-meta-title {
    margin-bottom: -2px;
  }

  .ant-list-item-meta-description {
    font-size: 12px;
  }

  nz-list-item {
    padding: 2px 14px;
    padding-right: 42px;
    transition: padding-right 0.3s;

    i[nz-icon] {
      position: absolute;
      margin-top: -47px;
      margin-left: 8px;
      transition: margin-left 0.3s;
    }
  }

  .code {
    font-size: 12px !important;
  }
}

nz-list-item-extra {
  text-align: right;
}

.matched,
.time,
.traffic {
  font-size: 12px;
}

.time,
.traffic {
  margin-top: -2px;
}

.tags {
  margin-top: -4px;
}
