<div class="tools">
  <nz-input-group [nzSearch]="true" nzAddOnBefore="Search">
    <input type="text" nz-input nzSize="small" [(ngModel)]="searhText" (ngModelChange)="loadding = true" />
  </nz-input-group>
  <nz-input-group nzAddOnBefore="Sort by" [nzAddOnAfter]="addOnAfterTemplate">
    <nz-select class="sort-key" [(ngModel)]="sortKey" (ngModelChange)="loadding = true">
      <nz-option nzValue="IP_OR_DOMAIN" nzLabel="domain or ip"></nz-option>
      <nz-option nzValue="DATETIME" nzLabel="datetime"></nz-option>
      <nz-option nzValue="UPLOAD_TRAFFIC" nzLabel="upload traffic"></nz-option>
      <nz-option nzValue="DOWNLOAD_TRAFFIC" nzLabel="download traffic"></nz-option>
      <nz-option nzValue="TOTAL_TRAFFIC" nzLabel="total traffic"></nz-option>
    </nz-select>
  </nz-input-group>
  <ng-template #addOnAfterTemplate>
    <nz-select class="sort-order" [(ngModel)]="sortOrder" (ngModelChange)="loadding = true">
      <nz-option nzValue="ASC" nzLabel="asc"></nz-option>
      <nz-option nzValue="DESC" nzLabel="desc"></nz-option>
    </nz-select>
  </ng-template>
  <i nz-icon nzType="clear" nzTheme="outline" (click)="closeAllConnections()"></i>
</div>
<nz-spin *ngIf="loadding" nzTip="Loading..."></nz-spin>
<nz-empty *ngIf="connections.length === 0" nzNotFoundContent="Nothing"></nz-empty>
<nz-list *ngIf="connections.length !== 0" nzItemLayout="horizontal">
  <nz-list-item *ngFor="let connection of connections; trackBy: trackById">
    <nz-list-item-meta>
      <nz-list-item-meta-title>
        {{ connection.displayName }}
      </nz-list-item-meta-title>
      <nz-list-item-meta-description>
        {{ connection.chains.join(" / ") }}
        <br />
        {{ connection.metadata.sourceIP }}:{{ connection.metadata.sourcePort }}
      </nz-list-item-meta-description>
    </nz-list-item-meta>
    <nz-list-item-extra>
      <div class="matched">{{ connection.rule }}({{ connection.rulePayload }})</div>
      <div class="time">
        {{ connection.start | durationTime }}
      </div>
      <div class="traffic">
        ↑ {{ connection.upload | formatBytes }}/s
        <nz-divider nzType="vertical"></nz-divider>
        ↓ {{ connection.download | formatBytes }}/s
      </div>
      <div class="tags">
        <app-network-type-tag [type]="connection.metadata.type"></app-network-type-tag>
        <app-network-protocol-tag [protocol]="connection.metadata.network"></app-network-protocol-tag>
      </div>
      <div class="close">
        <i nz-icon nzType="close" nzTheme="outline" (click)="closeConnection(connection.id)"></i>
      </div>
    </nz-list-item-extra>
  </nz-list-item>
</nz-list>
