@media (prefers-color-scheme: dark) {
  .sidebar-logo,
  .ant-menu-item,
  .ant-menu-item a,
  .ant-menu-item a:hover,
  .traffic {
    color: white !important ;
  }

  .ant-menu-item-selected,
  .ant-menu-item:hover {
    background-color: #6a676e !important;
  }

  .menu-sidebar {
    border-right: 1px solid #353535 !important;
  }
}

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  border-right: 1px solid #e5e5e5;
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 90px;
  overflow: hidden;
  line-height: 64px;
  transition: all 0.3s;
  text-align: center;
  -webkit-app-region: drag;

  img {
    display: inline-block;
    height: 64px;
    width: 64px;
    vertical-align: middle;
  }

  .version {
    line-height: 12px;
    font-size: 12px;
  }
}

nz-sider {
  user-select: none;
  background: whitesmoke;

  ul[nz-menu] {
    background: transparent;
    width: 85%;
    margin: 0 auto;
    border: none;

    .ant-menu-item-selected,
    .ant-menu-item:hover {
      background-color: #b7b3ba;
    }

    .ant-menu-item {
      transition: background-color 0.3s;
    }

    .ant-menu-item,
    .ant-menu-item a,
    .ant-menu-item a:hover {
      color: black;
    }

    @keyframes slidein {
      from {
        height: 0px;
      }

      to {
        height: 17px;
      }
    }

    .ant-menu-item-selected::before {
      content: "";
      width: 3px;
      height: 17px;
      border-radius: 4px;
      display: block;
      background: #173158;
      margin-left: -24px;
      margin-right: 21px;
      margin-top: 1px;
      animation-name: slidein;
      animation-duration: 0.3s;
    }
  }

  .ant-menu-item {
    border-radius: 10px;
  }

  .ant-menu-item::after {
    content: none;
  }
}

nz-layout {
  background: transparent;
}

nz-sider:after {
  content: "";
  display: block;
  position: fixed;
  height: 38px;
  width: 2px;
  background: whitesmoke;
  top: 1px;
  left: 179px;
  -webkit-app-region: drag;
}

.platform-darwin {
  .sidebar-logo {
    padding-top: 20px;
    height: 110px;
  }

  nz-sider {
    background: transparent;
  }

  nz-sider:after {
    content: none;
  }
}

.platform-win32 {
  .inner-content {
    background: white;
  }
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  height: 40px;
}

.app-header {
  position: relative;
  height: 40px;
  padding: 0;
  text-align: right;
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;

  i {
    line-height: 37px;
    vertical-align: top;
    width: 30px;
    padding-top: 3px;
  }

  i:hover {
    background: #c7c7c7;
  }
}

.app-header::before {
  content: "";
  width: calc(100% - 120px);
  height: 40px;
  display: inline-block;
  -webkit-app-region: drag;
}

.inner-content {
  padding: 24px;
  height: 100%;
  overflow-y: auto;
}

.traffic {
  position: absolute;
  bottom: 0;
  width: 180px;
  margin-bottom: 20px;
  font-size: 12px;
  cursor: default;
  user-select: none;
  transition: bottom 0.3s;

  div:first-child {
    float: right;
    padding-right: 63px;

    img {
      height: 20px;
      transform: rotate(45deg);
    }
  }

  div:last-child {
    float: left;
    padding-left: 65px;

    img {
      height: 20px;
      transform: rotate(-135deg);
    }
  }
}

.traffic.hide {
  bottom: -80px;
}
