<div class="item">
  <div>Versions</div>
  <div>
    <div>Singland: 1.0.0</div>
    <div>sing-box: 1.0.0</div>
  </div>
</div>
<div class="item">
  <div>Thinks</div>
  <div>
    <div>
      Singland is made possible by the following open source project:
    </div>
    <ul>
      <li (click)="openExternalLink('https://github.com/SagerNet/sing-box/')">sing-box </li>
      <li (click)="openExternalLink('https://github.com/electron/electron/')">electron</li>
      <li (click)="openExternalLink('https://github.com/angular/angular/')">angular</li>
      <li (click)="openExternalLink('https://github.com/microsoft/monaco-editor/')">monaco-editor</li>
      <li (click)="openExternalLink('https://github.com/google/wireit/')">wireit</li>
    </ul>
  </div>
</div>